<div class="container">
  <img src="/assets/img/mck.jpg" class="mb-3" />
  <form [formGroup]="form">
    <nz-row [nzGutter]="[8, 8]">
      <nz-col nzSpan="24">
        <nz-input-number-group [nzAddOnBefore]="prefixChicken" class="w-100">
          <nz-input-number
            [nzSize]="'large'"
            class="form-control"
            [nzMin]="0"
            type="number"
            inputmode="numeric"
            formControlName="initialScore"
            nzPlaceHolder="Nhập gà"
            required
          ></nz-input-number>
        </nz-input-number-group>
        <ng-template #prefixChicken>
          Nhập gà vào
        </ng-template>
      </nz-col>
      <nz-col nzSpan="12">
        <nz-select
          class="form-control"
          class="w-100"
          formControlName="selectedSheetId"
        >
          <nz-option
            *ngFor="let option of sheets"
            [nzValue]="option.sheetId"
            [nzLabel]="option.title"
          ></nz-option>
        </nz-select>
      </nz-col>
      <nz-col nzSpan="3">
        <button nz-button class="w-100" nzDanger (click)="deleteSheet()">
          <span nzDanger nz-icon nzType="delete"></span>
        </button>
      </nz-col>
      <nz-col nzSpan="9">
        <button class="w-100" nz-button (click)="createSheet()">
          Tạo Sheet mới
        </button>
      </nz-col>
      <nz-col nzSpan="12">
        <button class="w-100" nz-button (click)="back()" [nzSize]="'large'">
          Quay lại
        </button>
      </nz-col>
      <nz-col nzSpan="12">
        <button
          type="submit"
          class="w-100"
          nz-button
          nzType="primary"
          (click)="startGame()"
          [disabled]="form.invalid"
          [nzSize]="'large'"
        >
          Tiếp tục
        </button>
      </nz-col>
    </nz-row>
  </form>
</div>
<ngx-spinner
  bdColor="rgba(0, 0, 0, 0.8)"
  size="medium"
  color="#fff"
  type="ball-scale-multiple"
  [fullScreen]="true"
  ><p style="color: white">Đang nấu gà...</p></ngx-spinner
>
