<div class="container">
  <!-- <img
    src="https://media1.tenor.com/m/CkrY3ESk_ecAAAAC/tuannguyen12-travis.gif"
    class="mb-3"
  />

  <h2 class="text-center">Ăn Gà v1.0</h2> -->

  <form [formGroup]="form">
    <nz-row [nzGutter]="[8, 8]">
      <nz-col nzSpan="12">
        <nz-input-number-group nzAddOnBefore="Nhập số người">
          <nz-input-number
            [nzSize]="'large'"
            class="form-control"
            [nzMin]="0"
            type="number"
            inputmode="numeric"
            formControlName="numberOfPlayers"
            nzPlaceHolder="Nhập số người"
            required
          ></nz-input-number>
        </nz-input-number-group>
      </nz-col>
      <nz-col nzSpan="12">
        <nz-input-number-group [nzAddOnBefore]="prefixChicken">
          <nz-input-number
            [nzSize]="'large'"
            class="form-control"
            [nzMin]="0"
            type="number"
            inputmode="numeric"
            formControlName="initialScore"
            nzPlaceHolder="Nhập gà"
            required
          ></nz-input-number>
        </nz-input-number-group>
        <ng-template #prefixChicken>
          <img
            src="https://cdn.icon-icons.com/icons2/1808/PNG/96/animal-chicken_115218.png"
            width="25"
          />
        </ng-template>
      </nz-col>
      <nz-col nzSpan="12">
        <nz-select
          class="form-control"
          class="w-100"
          formControlName="selectedSheetId"
        >
          <nz-option
            *ngFor="let option of sheets"
            [nzValue]="option.sheetId"
            [nzLabel]="option.title"
          ></nz-option>
        </nz-select>
      </nz-col>
      <nz-col nzSpan="3">
        <button nz-button class="w-100" nzDanger (click)="deleteSheet()"><span nzDanger nz-icon nzType="delete"></span></button>
         </nz-col>
      <nz-col nzSpan="9">
        <button class="w-100" nz-button (click)="createSheet()">
          Tạo Sheet
        </button>
      </nz-col>
      <nz-col nzSpan="24">
        <button
          type="submit"
          class="w-100"
          nz-button
          nzType="primary"
          (click)="startGame()"
          [disabled]="form.invalid || f['numberOfPlayers'].value === 0"
          [nzSize]="'large'"
        >
          Bắt đầu
        </button>
      </nz-col>
    </nz-row>
  </form>
</div>
<ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#fff" type = "ball-scale-multiple" [fullScreen] = "true"><p style="color: white" > Đang nấu gà... </p></ngx-spinner>
