<div class="container">
  <nz-table
    class="mb-3"
    #basicTable
    [nzData]="players"
    [nzFrontPagination]="false"
    [nzShowPagination]="false"
    [nzScroll]="{ y: '500px' }"
  >
    <thead>
      <tr>
        <th nzAlign="center" [nzWidth]="'70px'">+/-</th>
        <th nzAlign="center" [nzWidth]="'100px'">Tên</th>
        <th nzAlign="center" [nzWidth]="'110px'">Ăn</th>
        <th nzAlign="center" [nzWidth]="'100px'">Gà</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of basicTable.data">
        <td>
          <app-flip-card
            [disabled]="isRoundFinished"
            [(ngModel)]="data.isPositive"
            (click)="autoCalculate(data)"
          ></app-flip-card>
        </td>
        <td>{{ data.name }}</td>
        <td>
          <input
            [min]="0"
            nz-input
            type="number"
            inputmode="numeric"
            [(ngModel)]="data.score"
            placeholder="Bú"
            [disabled]="isRoundFinished"
            (ngModelChange)="autoCalculateDebounced(data)"
            (focus)="selectAll($event)"
          />
        </td>
        <td nzAlign="center">
          <nz-switch
            [disabled]="(haveWinner && !data.isWinner) || isRoundFinished"
            [(ngModel)]="data.isWinner"
            (ngModelChange)="chooseWinner(data)"
          ></nz-switch>
        </td>
      </tr>
    </tbody>
  </nz-table>
  <nz-row [nzGutter]="[16, 16]">
    <nz-col nzSpan="24">
      <button
        class="w-100"
        [nzSize]="'large'"
        nz-button
        nzType="primary"
        (click)="finishRound()"
        [disabled]="isRoundFinished || !isAuth"
      >
        Xong ván
      </button>
    </nz-col>
    <nz-col nzSpan="24">
      <button
        class="w-100"
        [nzSize]="'large'"
        nz-button
        nzDanger
        nzType="primary"
        (click)="deleteRound()"
        [disabled]="!isRoundFinished"
      >
        Xóa ván này
      </button>
    </nz-col>
    <nz-col nzSpan="12">
      <button
        class="w-100"
        [nzSize]="'large'"
        nz-button
        nzType="default"
        (click)="back()"
      >
        Quay lại
      </button>
    </nz-col>
    <nz-col nzSpan="12">
      <button
        class="w-100"
        [nzSize]="'large'"
        nz-button
        nzType="primary"
        (click)="nextRound()"
        [disabled]="!isRoundFinished"
      >
        Nốt ván
      </button>
    </nz-col>
    <nz-col nzSpan="24">
      <button
        class="w-100"
        [nzSize]="'large'"
        nz-button
        nzType="default"
        (click)="viewLast5Rounds()"
      >
        Xem lại 5 ván gần nhất
      </button>
    </nz-col>
    <nz-col nzSpan="24">
      <button
        class="w-100"
        [nzSize]="'large'"
        nz-button
        nzDanger
        nzType="primary"
        (click)="finishGame()"
      >
        Tổng kết
      </button>
    </nz-col>
  </nz-row>
</div>

<ngx-spinner
  bdColor="rgba(0, 0, 0, 0.8)"
  size="medium"
  color="#fff"
  type="ball-scale-multiple"
  [fullScreen]="true"
  ><p style="color: white">Đang nấu gà...</p></ngx-spinner
>
