::ng-deep {
  .ant-input-number-input,
  .ant-input, .ant-btn, .ant-select-selector {
    height: 40px !important;
  }

  .ant-input {
    padding-bottom: 2px !important;
  }
  .ant-select-single .ant-select-selector .ant-select-selection-item {
    line-height: 40px !important;
  }
}
