<div class="container">
  <img src="/assets/img/mck.jpg" class="mb-3 mck">
  <h2 class="text-center">Ăn gà v1.0</h2>
  <nz-row
    [nzGutter]="[16, 16]"
    [nzJustify]="'space-between'"
    [nzAlign]="'middle'"
  >
  <nz-col nzSpan="24">
    <button
      nz-button
      class="w-100"
      nzType="primary"
      [nzSize]="'large'"
      nzShape="round"
      (click)="redirectToAuthUrl()"
      [disabled]="isAuth"
    >
      Xác thực tài khoản
    </button>
  </nz-col>
    <nz-col nzSpan="24">
      <button
        nz-button
        class="w-100"
        nzType="primary"
        [nzSize]="'large'"
        nzShape="round"
        (click)="start()"
        [disabled]="!isAuth"
      >
        Bắt đầu
      </button>
    </nz-col>
    <nz-col nzSpan="24">
      <button
        nz-button
        class="w-100"
        nzType="primary"
        [nzSize]="'large'"
        nzShape="round"
        [disabled]="true"
      >
        Đăng ký
      </button>
    </nz-col>
    <nz-col nzSpan="24">
      <button
        [disabled]="!isAuth"
        nz-button
        class="w-100"
        nzType="primary"
        [nzSize]="'large'"
        nzShape="round"
        (click)="openRankings()"
      >
        Bảng xếp hạng
      </button>
    </nz-col>
  </nz-row>
</div>
<ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#fff" type = "ball-scale-multiple" [fullScreen] = "true"><p style="color: white" > Đang nấu gà... </p></ngx-spinner>
